/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------------------------------------------------------------

                        bindings = <
&kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
&mt LCTRL RET &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RET
                        &kp LALT  &kp LGUI &lt 1 SPACE &mo 2  &mo 3
                        >;
                };

                first_layer {
// ----------------------------------------------------------------------------------

                        bindings = <
&kp ESC  &kp Q &kp LG(W) &kp RA(BSPC) &kp LG(R) &kp LG(T)   &kp Y &kp RA(LEFT)  &kp UP    &kp RA(RIGHT) &kp P    &kp BSLH
&mt LCTRL RET &kp A &kp LG(S) &kp BSPC     &kp DEL   &kp RA(DEL) &kp H &kp LEFT      &kp DOWN  &kp RIGHT     &kp RET &kp SQT
&kp LSHFT     &kp LG(Z) &kp LG(X)     &kp LG(C)    &kp LG(V) &kp B       &kp N &kp LG(BSPC)  &kp COMMA &kp LG(DEL)   &kp FSLH &kp RET
                                 &trans      &trans    &trans  &mo 4    &trans
                        >;
                 };
                
                mouse_layer {
// -----------------------------------------------------------------------------------------

                        bindings = <
&trans &trans &trans &trans &trans &trans   &trans &trans &kp MS_UP &trans &trans &trans
&trans &kp MS_ACCEL &trans &kp MS_BTN2 &kp MS_BTN1 &trans   &trans &kp MS_LEFT &kp MS_DOWN &kp MS_RIGHT &trans &trans
&trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                                &trans      &trans       &trans        &trans      &trans
                        >;
                };

                second_layer {
// -----------------------------------------------------------------------------------------

                        bindings = <
&kp GRAVE &kp N1   &kp N2 &kp N3   &kp N4   &kp N5      &kp N6    &kp N7    &kp N8          &kp N9   &kp N0   &kp MINUS
&trans  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp EQUAL
&kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp LBKT &kp RBKT &kp RET
                                &trans      &trans       &trans        &trans      &trans
                        >;
                };

                third_layer {
// -----------------------------------------------------------------------------------------

                        bindings = <
&bt BT_CLR   &kp Q &kp W &kp E &kp R &kp T              &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
&mt LCTRL RET &kp A &kp S &kp D &kp F &kp G             &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
&bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2   &bt BT_SEL 3   &trans &trans                 &trans &trans &trans &kp LBRC &kp RBRC &kp RET
                                                             &trans      &trans       &trans        &trans      &trans
                        >;
                };
        };
};
